/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 100px;
    font-size: 48px;
}

p, th, td {
    font-size: 24px;
    color: #666;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #333;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.button, input[type="submit"], button[type="submit"] {
    display: inline-block;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 5px;
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;
}

.button:hover, input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #333;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

form {
    background-color: #ffffff;
    display: inline-block;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    color: #666;
    display: block;
    margin-bottom: 10px;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="date"], select {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="date"]:focus, select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.error {
    color: #ff0000;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}