* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
a {
    color: #007AFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
form {
    background-color: #222;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 2rem auto;
}
label {
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
}
input[type="email"], input[type="password"] {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #333;
    color: #fff;
}
input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #aaa;
}
input[type="submit"] {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    background-color: #007AFF;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}
input[type="submit"]:hover {
    background-color: #0057D8;
}

input[type="text"], select, input[type="date"], input[type="time"] {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    background-color: #333;
    color: #fff;
}

input[type="text"]::placeholder {
    color: #aaa;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus, select:focus, input[type="date"]:focus, input[type="time"]:focus {
    background-color: #555;
}

select:hover {
    background-color: #555;
}

input[type="date"], input[type="time"] {
    text-align: center;
}